node_modules

# Keep environment variables out of version control
.env
.env.local
.env.cloud
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
build/
dist/

# Testing
coverage/
.nyc_output/

# Prisma
/lib/generated/prisma

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
